
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    </head>
    <!-- ==== HEADER ==== -->
    <header class="container header">
      <!-- ==== NAVBAR ==== -->
      <nav class="nav">
        <div class="logo">
          <h2>Schedulo.</h2>
        </div>

        <div class="nav_menu" id="nav_menu">
          <button class="close_btn" id="close_btn">
            <i class="ri-close-fill"></i>
          </button>

          <ul class="nav_menu_list">
            <li class="nav_menu_item">
              <a href="#" class="nav_menu_link">account</a>
            </li>
            <li class="nav_menu_item">
              <a href="#services" class="nav_menu_link">service</a>
            </li>
            <li class="nav_menu_item">
              <a href="#about_us" class="nav_menu_link">about</a>
            </li>
            <li class="nav_menu_item">
              <a href="#contact" class="nav_menu_link">contact</a>
            </li>
          </ul>
        </div>

        <button class="toggle_btn" id="toggle_btn">
          <i class="ri-menu-line"></i>
        </button>
      </nav>
    </header>

    <section class="wrapper">
      <div class="container">
        <div class="grid-cols-2">
          <div class="grid-item-1">
            <h1 class="main-heading">
              Welcome to <span>Schedulo.</span>
              <br />
              Schedule your meetings.
            </h1>
            <!-- <p class="info-text">
              Build a beautiful, modern website with flexible components built
              from scratch.
            </p> -->

            <div class="btn_wrapper">
              <button class="btn view_more_btn">
                view schedule<i class="ri-arrow-right-line"></i>
              </button>

              <button class="btn documentation_btn">login</button>
            </div>
          </div>
          <div class="grid-item-2">
            <div class="team_img_wrapper">
              <img src="assets/images/istockphoto-1208395845-612x612-removebg-preview.png" alt="team-img" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="wrapper" id="services">
      <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h1>Services</h1><br>
        <div class="grid-cols-3">
          <div class="grid-col-item">
            <div class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                />
              </svg>
            </div>
            <div class="featured_info">
              <span>Schedule meeting</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                ratione facilis animi voluptas exercitationem molestiae.
              </p>
            </div>
          </div>
          <div class="grid-col-item">
            <div class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z"
                />
              </svg>
            </div>
            <div class="featured_info">
              <span>Creating Batches</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                ipsum esse corrupti. Quo, labore debitis!
              </p>
            </div>
          </div>

          <div class="grid-col-item">
            <div class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                />
              </svg>
            </div>
            <div class="featured_info">
              <span>All schedule</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                nostrum voluptate totam ipsa corrupti vero!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about_us">
      <br><br>
      <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <h1>About Us</h1><br>
  
        <div class="row">
          <div class="col-6">        
            <img src="assets/images/schedule.png" alt="" />
          </div>
          <div class="col-6 main-heading-about-us">        
            <p> <span> Schedulo </span>is a visual learning management platform that offers an easy-to-use visual planner for creating and managing schedules and events. With Schedulo, you can schedule multiple types of events, such as meetings, talks, workshops and trainings.
          </p>
        </div>
     </div>
      </div>
    </section>
    <br><br>
    
    <section id="contact">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
      <h1>Contact us</h1>
      <div class="row">
        <div class="col-6">        
          
          <ul class="contact-list">

            <li>
              <a href="mailto:support@website.com" class="contact-link">
                <!-- <ion-icon name="mail-outline"></ion-icon> -->
                <img src="assets/images/email-envelop-open-icon.svg" alt="" class = "icon-img">
                <span>: support@website.com</span>
              </a>
            </li>

            <li>
              <a href="#" class="contact-link">
                <!-- <ion-icon name="globe-outline"></ion-icon> -->
                <img src="assets/images/website-icon.svg" alt=""  class = "icon-img">
                <span>: www.website.com</span>
              </a>
            </li>

            <li>
              <a href="tel:+0011234567890" class="contact-link">
                <!-- <ion-icon name="call-outline"></ion-icon> -->
                <img src="assets/images/ringing-phone-outline-icon.svg" alt="" class = "icon-img">
                <span>: (+001) 123 456 7890</span>
              </a>
            </li>

            <li>
              <div class="contact-link">
                <!-- <ion-icon name="time-outline"></ion-icon> -->
                <img src="assets/images/clock-timing-icon.svg" alt="" class = "icon-img">
                <span>: 9:00 AM - 6:00 PM</span>
              </div>
            </li>

            <li>
              <a href="#" class="contact-link">
                <!-- <ion-icon name="location-outline"></ion-icon> -->
                <img src="assets/images/gps-icon.svg" alt="" class = "icon-img">
                <address>: 1644 Deer Ridge Drive Rochelle Park, NJ 07662</address>
              </a>
            </li>

          </ul>
        </div>
        <div class="col-6">        
          <div class="row">
            <div class="col-md-12 mx-auto">
              <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter your name">
                </div>
                <br>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <br>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

      </div>
   </div>
    </div>
  </section>


    <footer></footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script>
    const navId = document.getElementById("nav_menu"),
  ToggleBtnId = document.getElementById("toggle_btn"),
  CloseBtnId = document.getElementById("close_btn");

// ==== SHOW MENU ==== //
ToggleBtnId.addEventListener("click", () => {
  navId.classList.add("show");
});

// ==== HIDE MENU ==== //
CloseBtnId.addEventListener("click", () => {
  navId.classList.remove("show");
});

// ==== Animate on Scroll Initialize  ==== //
AOS.init();

// ==== GSAP Animations ==== //
// ==== LOGO  ==== //
gsap.from(".logo", {
  opacity: 0,
  y: -10,
  delay: 1,
  duration: 0.5,
});
// ==== NAV-MENU ==== //
gsap.from(".nav_menu_list .nav_menu_item", {
  opacity: 0,
  y: -10,
  delay: 1.4,
  duration: 0.5,
  stagger: 0.3,
});
// ==== TOGGLE BTN ==== //
gsap.from(".toggle_btn", {
  opacity: 0,
  y: -10,
  delay: 1.4,
  duration: 0.5,
});
// ==== MAIN HEADING  ==== //
gsap.from(".main-heading", {
  opacity: 0,
  y: 20,
  delay: 2.4,
  duration: 1,
});
// ==== INFO TEXT ==== //
gsap.from(".info-text", {
  opacity: 0,
  y: 20,
  delay: 2.8,
  duration: 1,
});
// ==== CTA BUTTONS ==== //
gsap.from(".btn_wrapper", {
  opacity: 0,
  y: 20,
  delay: 2.8,
  duration: 1,
});
// ==== TEAM IMAGE ==== //
gsap.from(".team_img_wrapper img", {
  opacity: 0,
  y: 20,
  delay: 3,
  duration: 1,
});

</script>