<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="title">Schedulo Registration</div>
        <div class="content">
            <form [formGroup]="registration"(ngOnSubmit)="registerSubmitted()" action="#">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input class="fullname" type="text" placeholder="Enter your name" required
                        formControlName="fullname">
                        <div class="form-invalid-warn-text" *ngIf="FullName.errors?.['required'] && (FullName.touched || FullName.dirty)">Name should not be empty</div>
                    </div>
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input class="username" type="text" placeholder="Enter your username" required minlength="8"
                            formControlName="username">
                        <div class="form-invalid-warn-text" *ngIf="UserName.errors?.['required'] && (UserName.touched || UserName.dirty)">Username should not be empty</div>
                        <div class="form-invalid-warn-text" *ngIf="UserName.errors?.['minlength']">Name must be at least 8 characters long.</div>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input class="email" type="text" placeholder="Enter your email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+.[a-z]{2,4}$"
                        formControlName="email">
                        <div class="form-invalid-warn-text" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">Email field should not be empty</div>
                        <div class="form-invalid-warn-text" *ngIf="Email.errors?.['pattern']">Enter a valid email. Ex: abc@xyz.com</div>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input class="mobile" type="text" placeholder="Enter your number" required pattern="^((\\+91-?)|0)?[0-9]{10}$"
                        formControlName="mobile">
                        <div class="form-invalid-warn-text" *ngIf="Mobile.errors?.['required'] && (Mobile.touched || Mobile.dirty)">Phone number is required</div>
                        <div class="form-invalid-warn-text" *ngIf="Mobile.errors?.['pattern']">Enter a 10 digit phone number. Ex: +91 98765 43210</div>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input class="password" type="password" placeholder="Enter your password" required pattern='(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}'
                        formControlName="password">
                        <div class="form-invalid-warn-text" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">Please enter a password</div>
                        <div class="form-invalid-warn-text" *ngIf="Password.errors?.['pattern']">Enter a valid password of 8 characters with atleast 1 uppercase, 1 lowercase and special character</div>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input class="conf_password" type="password" placeholder="Confirm your password" required
                        formControlName="conf_password">
                        <div class="form-invalid-warn-text" *ngIf="Compare()">Passwords don't match</div>
                    </div>
                </div>
                <div class="details">
                    <input type="radio" name="details" id="dot-1">
                    <input type="radio" name="details" id="dot-2">
                    
                    <span class="details">Are you a : </span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="details">Student</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="details">Admin</span>
                        </label>
                    
                    </div>
                </div>
                <div class="button">
                    <input type="submit" class ="btn btn-primary" value="Register" (click)="registerSubmitted()">
                    <div *ngIf="this.registration.invalid && ConfirmPassword.touched" class="form-invalid-warn-text">Please fill all required fields</div>
                </div>
            </form>
    </div>
</div>
<br>
<app-footer></app-footer>