
  <app-admin-sidebar></app-admin-sidebar>
  <div class="main-container">
    <div class="pd-20 card-box mb-30">
      <div class="clearfix">
        <div class="pull-left">
          <h4 class="text-blue h4">Update Batch</h4>
          <p>Edit the fields that need to be updated</p>
          <br />
        </div>
      </div>

      <form [formGroup]="update_batch" (ngSubmit)="onSubmit()">
        <!-- Batch Name -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label" for="batchname"
            >Batch Name<span class="mandatory"><sup>*</sup></span></label
          >
          <div class="col-sm-12 col-md-10">
            <input
              id="batchname"
              class="batchname form-control"
              type="text"
              placeholder="Batch Name"
              formControlName="batchname"
              [(ngModel)]="data[0].batch_name"
            />
            <!-- Validations -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="batchname?.errors?.['required'] && (batchname?.touched || batchname?.dirty)"
            >
              Batch Name should not be empty 
            </div>
          </div>
        </div>
        <!-- sub batch and location in one row -->
        <div class="form-group row">
          <!-- no of sub batches -->
          <label class="col-sm-12 col-md-2 col-form-label" for="noOfSubBatch"
            >No. of Sub Batches
            <span class="mandatory"><sup>*</sup></span></label
          >
          <div class="col-sm-12 col-md-4">
            <input
              class="form-control"
              value="1"
              [pattern]="numberPattern"
              type="text"
              placeholder="Enter number of sub batches"
              formControlName="noOfSubBatch"
              [(ngModel)]="data[0].subbatch_count"
            />
            <!-- validations -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="noOfSubBatch?.errors?.['required'] && (noOfSubBatch?.touched || noOfSubBatch?.dirty)"
            >
              No.of Subbatch should not be empty
            </div>
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="noOfSubBatch?.errors?.['pattern']"
            >
              Number of sub batch not valid. Enter correct number.
            </div>
          </div>
          <!-- Location -->
          <label class="col-sm-12 col-md-2 col-form-label" for="location"
            >Location <span class="mandatory"><sup>*</sup></span></label
          >
          <div class="col-sm-12 col-md-4">
            <select
              class="custom-select col-12"
              id="location"
              (change)="changeLocation($event)"
              formControlName="location"
              [(ngModel)]="data[0].location"
            >
              <option selected="" value="">Choose Location</option>
              <option *ngFor="let location of Location" [ngValue]="location">
                {{ location }}
              </option>
            </select>
            <!-- validations -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="location?.errors?.['required'] && (location?.touched || location?.dirty)"
            >
              Enter Location
            </div>
          </div>
        </div>
        <!-- no of sub batches -->
        <!-- <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label" for="noOfSubBatch"
              >Number of Sub Batches</label
            >
            <div class="col-sm-12 col-md-10">
              <input
                class="form-control"
                value="1"
                [pattern]="numberPattern"
                type="text"
                formControlName="noOfSubBatch"
              /> -->
        <!-- validations -->
        <!-- <div
                class="form-invalid-warn-text alert alert-danger"
                *ngIf="noOfSubBatch?.errors?.['required'] && (noOfSubBatch?.touched || noOfSubBatch?.dirty)"
              >
                No.of Subbatch should not be empty
              </div>
              <div class="form-invalid-warn-text alert alert-danger"
              *ngIf="noOfSubBatch?.errors?.['pattern']">
                number of sub batch not valid. Enter correct number.
           </div> 
            </div>
          </div> -->

        <!-- location -->
        <!-- <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label" for="location"
              >Location</label
            >
            <div class="col-sm-12 col-md-10">
              <select
                class="custom-select col-12"
                id="location"
                (change)="changeLocation($event)"
                formControlName="location"
              >
                <option selected="" value="">Choose Location</option>
                <option *ngFor="let location of Location" [ngValue]="location">
                  {{ location }}
                </option>
              </select> -->
        <!-- validations -->
        <!-- <div
                class="form-invalid-warn-text alert alert-danger"
                *ngIf="location?.errors?.['required'] && (location?.touched || location?.dirty)"
              >
                Enter Location
              </div>
            </div>
          </div> -->

        <!-- batch size and start date in one row -->

        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label" for="batchSize"
            >Batch size <span class="mandatory"><sup>*</sup></span></label
          >
          <div class="col-sm-12 col-md-4">
            <input
              class="form-control"
              value="10"
              type="text"
              placeholder="Enter Batch Size"
              [pattern]="numberPattern"
              formControlName="batchSize"
              [(ngModel)]="data[0].batch_size"
            />
            <!-- validations -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="batchSize?.errors?.['required'] && (batchSize?.touched || batchSize?.dirty)"
            >
              Batch Name should not be empty
            </div>
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="batchSize?.errors?.['pattern']"
            >
              Batch Size not valid. Enter correct number.
            </div>
          </div>

          <label class="col-sm-12 col-md-2 col-form-label" for="start"
            >Start Date <span class="mandatory"><sup>*</sup></span></label
          >
          <div class="col-sm-12 col-md-4">
            <input
              class="form-control "
              placeholder="Select Date"
              type="date"
              formControlName="start"
              [(ngModel)]="data[0].start_date"
              [ngModel]="data[0].start_date |  date:'yyyy-MM-dd'"
            />
            <!-- validations -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="start?.errors?.['required'] && (start?.touched || start?.dirty)"
            >
              Enter Correct Date
            </div>
          </div>
        </div>

        <!-- batch size -->
        <!-- <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label" for="batchSize"
              >Batch size</label
            >
            <div class="col-sm-12 col-md-10">
              <input
                class="form-control"
                value="10"
                type="number"
                formControlName="batchSize"
              /> -->
        <!-- validations -->
        <!-- <div
                class="form-invalid-warn-text alert alert-danger"
                *ngIf="batchSize?.errors?.['required'] && (batchSize?.touched || batchSize?.dirty)"
              >
                Batch Name should not be empty
              </div>
            </div>
          </div> -->

        <!-- start date -->
        <!-- <div class="form-group row">
            <label
              class="col-sm-12 col-md-2 col-form-label"
              for="start"
              >Start Date</label
            >
            <div class="col-sm-12 col-md-10">
              <input
                class="form-control "
                placeholder="Select Date"
                type="date"
                formControlName="start"
              /> -->
        <!-- validations -->
        <!-- <div
                class="form-invalid-warn-text alert alert-danger"
                *ngIf="start?.errors?.['required'] && (start?.touched || start?.dirty)"
              >
                Enter Correct Date
              </div>
            </div>
          </div> -->

        <!-- batch type -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label"
            >Batch Type <span class="mandatory"><sup>*</sup></span></label
          >
          <div class="col-sm-12 col-md-4">
            <select
              class="custom-select col-12"
              (change)="changeBatchType($event)"
              formControlName="batchType"
              [(ngModel)]="data[0].batch_type"
            >
              <option selected="" value="">Choose Type of Batch</option>
              <option
                *ngFor="let batchType of TypeOfBatch"
                [ngValue]="batchType"
              >
                {{ batchType }}
              </option>
            </select>
            <!-- validations -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="batchType?.errors?.['required'] && (batchType?.touched || batchType?.dirty)"
            >
              Enter Batch Type
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label"></label>
          <div class="col-sm-12 col-md-10">
            <button type="submit" class="btn btn-outline-primary">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Default Basic Forms End -->

  <!-- js -->
  <!-- <script src="/src/assets/assets/vendors/scripts/core.js"></script>
    <script src="/src/assets/assets/vendors/scripts/script.min.js"></script>
    <script src="/src/assets/assets/vendors/scripts/process.js"></script>
    <script src="/src/assets/assets/vendors/scripts/layout-settings.js"></script> -->

