<div class="side-nav">
    <div class="nav-item">
        <fa-icon [icon]="fahome"></fa-icon>
        <span>Home</span>    
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faCalendar"></fa-icon>
        <span>Calendar</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="fahs"></fa-icon>
        <span>Upcoming Events</span>
    </div>
    <div class="nav-item">
        <!-- <a routerLink="attendance" class="nav-link"> -->
        <fa-icon [icon]="faAttendance"></fa-icon>
        <span>Attendance</span>
        <!-- <span>Attendance</span> -->
        <!-- </a> -->
    </div>
</div>