<div class="side-nav">
    <div class="nav-item"><a routerLink="/home">
        <fa-icon [icon]="fahome"></fa-icon>
        <span>Home</span>
    </a>    
    </div>
    <div class="nav-item"><a routerLink="/calendar">
        <fa-icon [icon]="faCalendar"></fa-icon>
        <span>Calendar</span>
    </a>
    </div>
    <div class="nav-item"><a routerLink="/events">
        <fa-icon [icon]="fahs"></fa-icon>
        <span>Upcoming Events</span>
    </a>
    </div>
    <div class="nav-item"><a routerLink="/attendance">
        <fa-icon [icon]="faAttendance"></fa-icon>
        <span>Attendance</span>
    </a>
    </div>
</div>