
<!DOCTYPE html>
<!-- ==== HEADER ==== -->
    <header class="container header" >
      <!-- ==== NAVBAR ==== -->
      <nav class="nav">
        <div class="logo" data-aos="fade-down" data-aos-duration="750">
          <a href="#"><h2>Schedulo.</h2></a>
        </div>

        <div class="nav_menu" id="nav_menu" >
          <button class="close_btn" id="close_btn">
            <i class="ri-close-fill"></i>
          </button>

          <ul class="nav_menu_list">
            <div data-aos="fade-down" data-aos-duration="1000"> 
              <li class="nav_menu_item">
                <a routerLink="login" class="nav_menu_link">account</a>
              </li>
            </div>
            <div data-aos="fade-down" data-aos-duration="1500">
            <li class="nav_menu_item">
              <a href="#services" class="nav_menu_link">service</a>
            </li>
          </div>
            <div data-aos="fade-down" data-aos-duration="2000">
            <li class="nav_menu_item">
              <a href="#about_us" class="nav_menu_link">about</a>
            </li>
          </div>
            <div data-aos="fade-down" data-aos-duration="2500">
            <li class="nav_menu_item">
              <a href="#contact" class="nav_menu_link">contact</a>
            </li>
          </div>
          </ul>
        </div>

        <button class="toggle_btn" id="toggle_btn">
          <i class="ri-menu-line"></i>
        </button>
      </nav>
    </header>
  <script>
    const navId = document.getElementById("nav_menu"),
  ToggleBtnId = document.getElementById("toggle_btn"),
  CloseBtnId = document.getElementById("close_btn");

// ==== SHOW MENU ==== //
ToggleBtnId.addEventListener("click", () => {
  navId.classList.add("show");
});

// ==== HIDE MENU ==== //
CloseBtnId.addEventListener("click", () => {
  navId.classList.remove("show");
});

// ==== Animate on Scroll Initialize  ==== //
AOS.init();

// ==== GSAP Animations ==== //
// ==== LOGO  ==== //
gsap.from(".logo", {
  opacity: 0,
  y: -10,
  delay: 1,
  duration: 0.5,
});
// ==== NAV-MENU ==== //
gsap.from(".nav_menu_list .nav_menu_item", {
  opacity: 0,
  y: -10,
  delay: 1.4,
  duration: 0.5,
  stagger: 0.3,
});
// ==== TOGGLE BTN ==== //
gsap.from(".toggle_btn", {
  opacity: 0,
  y: -10,
  delay: 1.4,
  duration: 0.5,
});
</script>