<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!-- <footer></footer> -->

<footer data-aos="fade-up" data-aos-duration="1000">
    <div class="footer-row primary " >
      <div class="footer-column footer-about">
          <h3 class="footer-h3">Connect with us</h3>
          <p>
              <i class='fa-solid fa-map-marker'></i> India
          </p>
          <div class="footer-social">
              <a href = "https://www.facebook.com/infosysspringboard"><i class="fa-brands fa-facebook"></i></a>
              <a href = "https://twitter.com/InfySpringboard"><i class="fa-brands fa-twitter"></i></a>
              <a href = "https://www.linkedin.com/company/infosys-springboard/mycompany/"><i class="fa-brands fa-linkedin"></i></a>
              <a href = "https://infyspringboard.onwingspan.com/web/en/login"><i class="fa-brands fa-google"></i></a>
          </div>
      </div>
  
      <div class="footer-column footer-link">
          <h3 class="footer-h3">Links</h3>
          <ul class="footer-ul">    
              <li><a href="#home">Home</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#blogs">Blogs</a></li>
              <li><a href="#support">Support</a></li>
          </ul>
      </div>
  
      <div class="footer-column footer-subscribe">
          <h3 class="footer-h3">Newsletter</h3>
          <div>
             <input type="email" placeholder="Your email id here" />
             <button>Subscribe</button>
          </div>
      </div>
  </div>
  
</footer>