<div class="batch-container">
<div class="card" *ngFor="let item of data">
    <div class="card-details">
      <p class="text-title">{{item.batch_name | titlecase}}</p>
      <p class="text-body">Subbatches : {{item.subbatch_count}}</p>
      <p class="text-body">Batch size : {{item.batch_size}}</p>
      <p class="text-body">Location : {{item.location|titlecase}}</p>

      <p class="text-body">Start date : {{item.start_date| date:'longDate'}}</p>


    </div>
    <button class="card-button">More info</button>
</div>
</div>