@import "/src/assets/assets/src/plugins/jquery-steps/jquery.steps.css";
@import "/src/assets/assets/vendors/styles/core.css";
@import "/src/assets/assets/vendors/styles/icon-font.min.css";
@import "/src/assets/assets/vendors/styles/style.css";

.batch-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  margin-bottom: 30px;
  width: 360px; //original : 190px
  height: 350px; //original : 254px
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
}
// .text-title {
//   max-width: fit-content;
// }
.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.4em;
  font-weight: bold;
  max-width: 100%;
  word-wrap: break-word;
}

/*Hover*/
.card:hover {
  border-color: #51b8ca;
  border-width: medium;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.row {
  font-size: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*div .text-title{
    word-wrap: break-word;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}*/
