/*
    Sass is an enhanced version of CSS.
    It stands for Syntactically Awesome Cascading Style Sheets.
    It has advanced variable declarations.
    You can proceed with vanilla css. 
    For that, change the same in app.component.ts, under styleUrls.
    Create your new css file as app.component.css and work with it.
*/


/*Variable color declarations go here*/

//text and backgroud colors
$primary-blue:#023047
$secondary-blue: #219ebc
$tertiary-blue:#8ecae6
$complement-col1:#ffb703
$complement-col2:#fb8500
$text-col1:#e5e5e5

//text faces
$font-type: robotocondensed-light-webfont

@font-face
    font-family: 'roboto_condensedlight'
    url:('robotocondensed-light-webfont.woff2') format('woff2'),
    url:('robotocondensed-light-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

div
    background-color:$primary-blue
    color: $text-col1
    font: 2rem, $font-type,'Roboto'
    //font-style: oblique 23deg
    
body 
    background-color: $tertiary-blue
    color: $text-col1
    font: 2rem, $font-type,'Roboto'
