/*Variable color declarations go here*/

//text and backgroud colors
$primary-blue:#023047
$secondary-blue: #219ebc
$tertiary-blue:#8ecae6
$complement-col1:#ffb703
$complement-col2:#fb8500
$text-col1:#e5e5e5

//text faces
$font-type: robotocondensed-light-webfont

@font-face
    font-family: 'roboto_condensedlight'
    url:('robotocondensed-light-webfont.woff2') format('woff2'),
    url:('robotocondensed-light-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

div
    background-color:$primary-blue
    color: $text-col1
    font: 2rem, $font-type,'Roboto'
    //font-style: oblique 23deg
    
body 
    background-color: $tertiary-blue
    color: $text-col1
    font: 2rem, $font-type,'Roboto'


$gradients: () !default
$gradients: map-merge((chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%)), $gradients)

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient){
    #{$parent} {background: $gradient}
}// Gradient text
@mixin text-gradient($parent, $gradient) {
    #{$parent} {background-image: $gradientcolor:transparent
    -webkit-background-clip: text
    background-clip: text
}}// Gradient text
@mixin text-gradient($parent, $gradient) {#{$parent} {background-image: $gradient color:transparent -webkit-background-clip: text background-clip: text}}

// Gradient Classes 
@each $gradient, $value in $gradients {@include bg-gradient(“.bg-gradient-#{$gradient}”, $value)
}// Gradient Classes 
@each $gradient, $value in $gradients {@include text-gradient(“.text-gradient-#{$gradient}”, $value)}