<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Component</title>
  <div>Schedul-O-Thon</div>
</head>
<body>
<div>
  <h2>Authentication page</h2>
</div>
<ul>User id<br><input type="text"></ul>
<ul>Password<br><input type="password"></ul>
</body>



<div class="full-screen bg-gradient-hot">
  <h2 class="title">Bacon is too awesome</h2>
</div>


</html>