<router-outlet></router-outlet>
<!-- <app-batch></app-batch> -->
<!-- <app-batch-card></app-batch-card> -->
<!-- <app-subbatch-card></app-subbatch-card> -->
<!-- <app-sub-batch></app-sub-batch> -->
<!-- <app-admin-sidebar></app-admin-sidebar> -->
<!-- <app-calendar></app-calendar> -->
<!-- <app-admin-sidebar></app-admin-sidebar> -->
<!-- <app-calendar></app-calendar> -->
<!-- <app-section-form></app-section-form> -->
<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-profile></app-profile> -->
<!-- <app-user-dashboard></app-user-dashboard> -->
<!-- <app-section-cards></app-section-cards> -->
<!-- <app-attendance></app-attendance> -->
<!-- <app-admin-navbar></app-admin-navbar> -->
<!-- <app-event-form></app-event-form> -->
<!-- <app-update-batch-form></app-update-batch-form>
<app-update-sub-batch-form></app-update-sub-batch-form>
<app-update-section-form></app-update-section-form>
<app-update-event-form></app-update-event-form> -->