<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-GBZ3SGGX85");
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
  </script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <div class="main-container">
    <!-- Default Basic Forms Start -->
    <div class="pd-20 card-box mb-30">
      <div class="clearfix">
        <div class="pull-left">
          <h4 class="text-blue h4">Create Sub-Batch</h4>
          <!-- <p class="mb-30">All bootstrap element classes</p> -->
        </div>
      </div>
      <form [formGroup]="subBatch" (ngSubmit)="onSubmit()">
        <!-- subBatchName -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label" for="subBatchName"
            >Sub Batch Name</label
          >
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Sub Batch Name"
              formControlName="subBatchName"
            />

            <!-- Validatiors -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="subBatchName?.errors?.['required'] && (subBatchName?.touched || subBatchName?.dirty)"
            >
              Sub Batch Name should not be empty
            </div>
          </div>
        </div>

        <!-- Select Batch Name -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Batch Name</label>
          <div class="col-sm-12 col-md-10">
            <select
              class="custom-select col-12"
              id="batch"
              (change)="changeBatchName($event)"
              formControlName="batch"
            >
              <option selected="" value="">Choose Batch</option>
              <option *ngFor="let batch of BatchName" [ngValue]="batch">
                {{ batch }}
              </option>
            </select>
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="batch?.errors?.['required'] && (batch?.touched || batch?.dirty)"
            >
              Enter Location
            </div>
          </div>
        </div>

        <!-- Stream -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Stream</label>
          <div class="col-sm-12 col-md-10">
            <select
              class="custom-select col-12"
              formControlName="stream"
              (change)="changeStream($event)"
            >
              <option selected="" value="">Choose...</option>
              <option *ngFor="let stream of Stream" [ngValue]="stream">
                {{ stream }}
              </option>
            </select>

            <!-- Validators -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="stream?.errors?.['required'] && (stream?.touched || stream?.dirty)"
            >
              Enter Valid Stream
            </div>
          </div>
        </div>

        <!-- Size -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Size</label>
          <div class="col-sm-12 col-md-10">
            <input class="form-control" type="number" formControlName="size" />
            <!-- Validators -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="size?.errors?.['required'] && (size?.touched || size?.dirty)"
            >
              Enter size of sub-batch
            </div>
          </div>
        </div>

        <!-- Location -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Location</label>
          <div class="col-sm-12 col-md-10">
            <select
              class="custom-select col-12"
              id="location"
              (change)="changeLocation($event)"
              formControlName="location"
            >
              <option selected="" value="">Choose Location</option>
              <option *ngFor="let location of Location" [ngValue]="location">
                {{ location }}
              </option>
            </select>

            <!-- Validators -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="location?.errors?.['required'] && (location?.touched || location?.dirty)"
            >
              Enter Location
            </div>
          </div>
        </div>

        <!-- Start Date -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Start Date</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control date-picker"
              placeholder="Select Date"
              type="date"
              formControlName="start"
            />

            <!-- Validators -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="start?.errors?.['required'] && (start?.touched || start?.dirty)"
            >
              Enter Correct Date
            </div>
          </div>
        </div>

        <!-- End Date -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">End Date</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control date-picker"
              placeholder="Select Date"
              type="date"
              formControlName="end"
            />
            <!-- Validators -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="end?.errors?.['required'] && (end?.touched || end?.dirty)"
            >
              Enter Correct Date
            </div>
          </div>
        </div>

        <!-- Batch Admin Name -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label">Batch Admin</label>
          <div class="col-sm-12 col-md-10">
            <input
              class="form-control"
              type="text"
              placeholder="Batch Admin Name"
              formControlName="adminName"
            />
            <!-- Validators -->
            <div
              class="form-invalid-warn-text alert alert-danger"
              *ngIf="adminName?.errors?.['required'] && (adminName?.touched || adminName?.dirty)"
            >
              Enter Correct Admin Name
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group row">
          <label class="col-sm-12 col-md-2 col-form-label"></label>
          <div class="col-sm-12 col-md-10">
            <button type="submit" class="btn btn-outline-primary">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- js -->
  <script src="vendors/scripts/core.js"></script>
  <script src="vendors/scripts/script.min.js"></script>
  <script src="vendors/scripts/process.js"></script>
  <script src="vendors/scripts/layout-settings.js"></script>
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>
