<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8" />
		<title>Schedulo</title>

	

		<!-- Mobile Specific Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="assets/vendors/styles/core.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/vendors/styles/icon-font.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="assets/src/plugins/jquery-steps/jquery.steps.css"
		/>
		<link rel="stylesheet" type="text/css" href="assets/vendors/styles/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GBZ3SGGX85");
		</script>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		

		<div class="main-container">
			
					<!-- Default Basic Forms Start -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Create Batch</h4>
								<!-- <p class="mb-30">All bootstrap element classies</p> -->
							</div>
							
						</div>
						<form [formGroup]="batch" (ngSubmit)="onSubmit()">
							
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label" for="batchname">Batch Name</label>
								<div class="col-sm-12 col-md-10">
									<input
										id="batchname"
										class="batchname form-control"
										type="text"
										placeholder="Batch Name"
										formControlName="batchname"
									/>
									<!-- <div class="form-invalid-warn-text" *ngIf="batchname.errors?.['required'] && (batchname.touched || batchname.dirty)">Name should not be empty</div> -->
								<!-- <div *ngIf="batch.invalid && (batch.dirty || batch.touched)" class="alert alert-danger"> -->

  									<!-- <div *ngIf="batch.errors?.['required']"> -->
										<!-- Name is required. -->
									<!-- </div> -->
  
								<!-- </div> -->
								
							</div></div>
                            <div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label" for="noOfSubBatch">Number of Sub Batches</label>
								<div class="col-sm-12 col-md-10">
									<input class="form-control" value="1" type="text" formControlName="noOfSubBatch"/>
										<div class="invalid-feedback" style="color: #e91e63;" *ngIf="isSubmitted && noOfSubBatch?.invalid">
											<sup>*</sup>Enter Correct value
										  </div>
								
									<!-- <div *ngIf="noOfSubBatch.errors?.['required']" style="color: red">Enter No. of Sub Batches</div>
									<div  *ngIf="noOfSubBatch.errors?.['pattern']" style="color: red" >Only Numbers are allowed
      </div> -->
								</div>
							</div>
                            <div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label" for="location">Location</label>
								<div class="col-sm-12 col-md-10">
									<select 
									class="custom-select col-12" id="location"
									(change)="changeLocation($event)"
									formControlName="location">
										<option selected="" value="">Choose Location</option>
										<option 
										*ngFor="let location of Location" [ngValue]="location">{{location}}</option>
										<!-- <option value="2"
										*ngFor="let Bengaluru of City" [ngValue]="Bengaluru">Bengaluru</option>
										<option value="3"
										*ngFor="let Online of City" [ngValue]="Online">Online</option> -->
									</select>
									<div class="invalid-feedback" *ngIf="isSubmitted && location?.invalid">
										<sup>*</sup>Please provide Location
									  </div>
								</div>
							</div>
                            <div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label" for="batchSize">Batch size</label>
								<div class="col-sm-12 col-md-10">
									<input class="form-control" value="10" type="number" formControlName="batchSize"/>
								</div>
							</div>
                            <div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label" for="start
								">Start Date</label>
								<div class="col-sm-12 col-md-10">
									<input
										class="form-control date-picker"
										placeholder="Select Date"
										type="date"
										formControlName="start"
									/>
								</div>
							</div>
                            <div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Batch Type</label>
								<div class="col-sm-12 col-md-10">
									<select class="custom-select col-12" (change)="changeBatchType($event)"
									formControlName="batchType" >
										<option selected=""
										value="">Choose Type of Batch</option>
										<option 
										*ngFor="let batchType of TypeOfBatch" [ngValue]="batchType">{{batchType}}</option>
										<!-- <option value="1">Engineering CS</option>
										<option value="2">Non Engineering CS</option>
										<option value="3">Special</option>
										<option value="4">Diploma</option> -->
									</select>
								</div>
							</div>
                            <div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label"></label>
                                <div class="col-sm-12 col-md-10">
                                    <button type="submit" 
									class="btn btn-outline-primary"  >
                                        Submit
                                    </button>
                                    
                                </div>
                            </div>
                        </form>
							</div>
						</div>
					<!-- Default Basic Forms End -->

					
		<!-- js -->
		<script src="assets/vendors/scripts/core.js"></script>
		<script src="assets/vendors/scripts/script.min.js"></script>
		<script src="assets/vendors/scripts/process.js"></script>
		<script src="assets/vendors/scripts/layout-settings.js"></script>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
