@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
*{
    margin:0;
    padding: 0;
    width: 100%;
    // display: flex;
    // padding-top: 15px;
    // height:500px;
    // width:500px;;
}

.container{
    width: 100%;
    display:block;
    box-sizing: border-box;
    .main-container{
        display:flex;
        .main{
        padding: 10px;
        }
    }
}